body{
  font-family: sans-serif;
}
h1 {
  color: blue;
  text-align: center;
  /* border: 2px solid red; */
  border-left: 2px solid red;
  border-right: 4px solid blue;
  border-top: 6px solid orange;
  border-bottom: 8px solid black;
  padding: 20px;
  margin: 20px;
}
h3 {
  color: green;
  font-style: italic;
  text-align: center;
  border-left: 2px solid red;
  border-right: 4px solid blue;
  border-top: 6px solid orange;
  border-bottom: 8px solid black;
  padding: 20px;
  margin: 20px;
}
p {
  font-family: sans-serif;
  font-weight: bolder;
  margin: 30px;
  width: 50%;
  /* width: 350px; */
}
h2 {
  color: blueviolet;
}
ul {
  line-height: 40px;
}
ol {
  line-height: 40px;
}
.intro {
  font-style: italic;
}
.author {
  color: red;
}
p .author {
  font-size: 12px;
}
#author{
  color: brown;
}
.line1{
  margin: 20px;
}
.glance{
  color: cadetblue;
}
.img{
  float: right;
}
.div{
  background-color: burlywood;
}